/* Style des cartes KPI */
.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
  position: relative;
  overflow: hidden;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transform: scale(1.02);
}

/* Couleurs */
.card-counter.primary {
  background-color: #007bff; /* Bleu */
  color: #FFF;
}
.card-counter.success {
  background-color: #198754; /* Vert */
  color: #FFF;
}
.card-counter.info {
  background-color: #0dcaf0; /* Cyan */
  color: #FFF;
}

/* Icones et Texte */
.card-counter i {
  font-size: 5em;
  opacity: 0.2;
  position: absolute;
  right: 10px;
  top: 15px;
}
.card-counter .count-numbers {
  position: relative;
  z-index: 2;
  font-size: 28px;
  font-weight: bold;
  display: block;
}
.card-counter .count-name {
  position: relative;
  z-index: 2;
  opacity: 0.9;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}
